<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="collegeBean" class="com.p4.p4.CollegeBean">
	<property name="lists">
      <list>
        <value>3</value>
       
        <bean class="com.p4.p4.StudentBean">
          <property name="name" value="Anil" />
          <property name="address" value="delhi" />
        </bean>
       
        <bean class="com.p4.p4.StudentBean">
          <property name="name" value="Aju" />
          <property name="address" value="Pune" />
        </bean>
        
        <bean class="com.p4.p4.StudentBean">
          <property name="name" value="Rani" />
          <property name="address" value="Bombay" />
        </bean>
      </list>
    </property>
  </bean>
  </beans>